{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category creation</h1>
<div class = "col-md-4">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class = "btn btn-success"/>
    {{ form_end(form) }}
</div>

{% endblock %}
